@{
  Layout = "_Layout";
}

@model Factory.Models.Machine
@using Factory.Models

<h2>Assign an engineer to repair @Html.DisplayFor(model => model.Name)</h2>

@if (@Model.JoinEntitiesLicensure.Count == 0)
{
  <p>You must first license an engineer to repair @Html.DisplayFor(model => model.Name).</p>
  <p>@Html.ActionLink("Add Licensure", "AddEngineer", new { id = Model.MachineId} )</p>
}
else
{
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select an engineer:")
    @Html.DropDownList("EngineerId")
    <br>
    <input type="submit" value="Save" />
  }
}
<br>
<p>@Html.ActionLink($"Return to Details for {Model.Name}", "Details", new { id = Model.MachineId} )</p>
<p>@Html.ActionLink("Return to List of Machines", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>