@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)?</h2>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<br>
<p>@Html.ActionLink($"Return to Details for {Model.FirstName} {Model.LastName}", "Details", new { id = Model.EngineerId} )</p>
<p>@Html.ActionLink("Return List of Engineers", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
