@{
  Layout = "_Layout";
}

@using Factory.Models
@model Factory.Models.Engineer

<h2>Engineer Details</h2>

<hr />

<h3>Name: @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h3>
<br>
<h4>Licensed to Repair:</h4>
@if (Model.JoinEntitiesLicensure.Count == 0)
{
  <p>This engineer is not licensed to repair any machines.</p>
  <p>@Html.ActionLink("Add Licensure", "AddMachine", new { id = Model.EngineerId} )</p>
}
else
{
  <ul>
    @foreach (Licensure join in Model.JoinEntitiesLicensure)
    {
      <li>@join.Machine.Name</li>
      @using (Html.BeginForm("DeleteLicensure", "Engineers"))
      {
        @Html.Hidden("joinId", @join.LicensureId)
        <input type="submit" value="Delete"/>
      }

    }
  </ul>
  <p>@Html.ActionLink("Add Licensure", "AddMachine", new { id = Model.EngineerId} )</p>
}
<br>
<h4>Active Repairs:</h4>
@if (Model.JoinEntitiesActiveRepairs.Count == 0)
{
  <p>This engineer is not currently repairing any machines.</p>
  <p>@Html.ActionLink("Assign a Machine to Repair", "AddRepairs", new { id = Model.EngineerId} )</p>
}
else
{
  <ul>
    @foreach (ActiveRepairs join in Model.JoinEntitiesActiveRepairs)
    {
      <li>@join.Machine.Name</li>
      @using (Html.BeginForm("DeleteActiveRepairs", "Engineers"))
      {
        @Html.Hidden("joinId", @join.ActiveRepairsId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
    <p>@Html.ActionLink("Assign a Machine to Repair", "AddRepairs", new { id = Model.EngineerId} )</p>
}
<br>

<p>@Html.ActionLink("Edit Engineer Details", "Edit", new { id = Model.EngineerId})</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId})</p>
<p>@Html.ActionLink("Return to List of Engineers", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>